<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GharKaCoder"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".explore.hackathon.activities.HostHackathonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".explore.showcase.activities.ShowcaseDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".explore.showcase.activities.AddShowcaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".explore.showcase.activities.ShowcaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".explore.hackathon.activities.HackathonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".geminiai.AskGeminiAiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.activities.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".explore.guidelines.activities.GuidelinePdfViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".explore.guidelines.activities.GuidelinePdfDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".explore.community.activities.CommunityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".explore.guidelines.activities.GuidelinesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".global.loginandregister.activities.ForgetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".global.loginandregister.activities.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".global.loginandregister.activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".global.dashboard.activities.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".global.dashboard.activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>